<a href="https://colab.research.google.com/github/jcml002/Reto6/blob/main/DS_JCML_RETO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Módulo: Manipulación de Datos en Python**
**Reto: Análisis de deserción de empleados con sus sistemas operativos utilizados**


---

##Código

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd;

#3 Crear dataframes para cada archivo
dfTs1 = pd.read_csv ("/content/drive/MyDrive/Colab Notebooks/Data6/Test.csv")
dfTs2 = pd.read_csv ("/content/drive/MyDrive/Colab Notebooks/Data6/Test2.csv")
dfTr1 = pd.read_csv ("/content/drive/MyDrive/Colab Notebooks/Data6/Train.csv")
dfTr2 = pd.read_csv ("/content/drive/MyDrive/Colab Notebooks/Data6/Train2.csv")

#4 Conjunta de manera correcta la información,
#  de tal forma que queden todos los registros en un solo DataFrame que contenga todas las columnas necesarias
df_merged = pd.merge(dfTs1,dfTs2, on=["Employee_ID"], how="outer")
df_merged



# Seleccionar columnas
#columnas_a_mantener = ['Employee_ID','Age','Education_Level','Computer_OS','Computer_tickets','Mobile_OS','Mobile_tickets']
#df_final = df_merged[columnas_a_mantener]

#df_final

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,...,VAR4,VAR5,VAR6,VAR7,Computer_OS,Computer_OS_version,Computer_tickets,Mobile_OS,Mobile_OS_version,Mobile_tickets
0,EID_10000,M,37.0,3,Married,Springfield,Human Resource Management,Analytical,14.0,4,...,2.0,1,5,3,MacOS,Catalina,2,iOS,13.0,0
1,EID_10004,M,46.0,3,Married,Springfield,Purchasing,Analytical,22.0,1,...,2.0,3,6,3,Windows,10,1,Android,10.0,1
2,EID_10020,M,41.0,3,Married,Washington,Sales,Behavioral,10.0,2,...,3.0,3,7,4,Linux,ubuntu,2,iOS,12.0,0
3,EID_10026,F,41.0,3,Married,Franklin,Quality,Analytical,18.0,1,...,3.0,4,8,3,Windows,10,1,iOS,11.0,1
4,EID_10027,F,37.0,5,Single,Lebanon,Marketing,Analytical,11.0,3,...,2.0,2,9,4,Windows,8,0,Android,7.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,EID_9959,M,41.0,2,Married,Washington,Logistics,Directive,4.0,1,...,2.0,2,7,3,Windows,8,1,Android,10.0,0
2996,EID_9961,M,46.0,3,Single,Springfield,IT,Behavioral,10.0,3,...,1.0,3,8,3,Linux,ubuntu,1,Android,8.0,0
2997,EID_9968,F,41.0,3,Married,Lebanon,Accounting and Finance,Behavioral,2.0,2,...,2.0,3,7,3,Windows,7,5,Android,7.0,2
2998,EID_9969,M,37.0,3,Married,Springfield,IT,Directive,10.0,3,...,2.0,4,7,5,Windows,8,5,Android,8.0,1
2999,EID_9984,F,NaN,3,Single,Franklin,IT,Conceptual,4.0,1,...,NaN,2,7,3,Windows,8,1,Android,7.0,0

## Código 2

In [ ]:


#5 Para todos los registros que no tienen un valor para un sistema operativo,
#ya sea de su computadora o de su dispositivo móvil,
#asígnales el valor “no registrado“


#6 Ejecuta la instrucción adecuada en Pandas para encontrar lo siguiente:
#6.1 El porcentaje de personas que usan Windows, Mac, Linux o "No registrado"
#    como su sistema operativo en su computadora.
#    Se esperan 4 renglones en esta respuesta.

#6.2 El porcentaje de personas que usan iOS, Android o "No registrado"
#    como su sistema operativo en su dispositivo móvil. Se esperan 3 renglones en esta respuesta.

#6.3 La edad promedio de la gente que utiliza cada sistema operativo de escritorio.

#6.4 El nivel educativo promedio de la gente que utiliza cada sistema operativo de escritorio.

#6.5 El número total de tickets generados por la gente, con cada sistema operativo de escritorio.