# **Módulo: Manipulación de Datos en Python**
**Reto: Análisis de deserción de empleados con sus sistemas operativos utilizados**


---

##Código

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [36]:
import pandas as pd;

#3 Crear dataframes para cada archivo
dfTs1 = pd.read_csv ("/content/drive/MyDrive/Colab Notebooks/Data6/Test.csv")
dfTs2 = pd.read_csv ("/content/drive/MyDrive/Colab Notebooks/Data6/Test2.csv")
dfTr1 = pd.read_csv ("/content/drive/MyDrive/Colab Notebooks/Data6/Train.csv")
dfTr2 = pd.read_csv ("/content/drive/MyDrive/Colab Notebooks/Data6/Train2.csv")

#4 Conjunta de manera correcta la información,
#  de tal forma que queden todos los registros en un solo DataFrame que contenga todas las columnas necesarias
df_mergedTest = pd.merge(dfTs1,dfTs2, on=["Employee_ID"], how="outer")
#df_merged

df_mergedTrain = pd.merge(dfTr1,dfTr2, on=["Employee_ID"], how="outer")

#df_mergedfinal = pd.merge(df_mergedTest,df_mergedTrain, on=["Employee_ID"], how="outer")
df_concat = pd.concat([df_mergedTest, df_mergedTrain],ignore_index=True)

df_concat

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,...,VAR5,VAR6,VAR7,Computer_OS,Computer_OS_version,Computer_tickets,Mobile_OS,Mobile_OS_version,Mobile_tickets,Attrition_rate
0,EID_10000,M,37.0,3,Married,Springfield,Human Resource Management,Analytical,14.0,4,...,1,5,3,MacOS,Catalina,2,iOS,13.0,0,NaN
1,EID_10004,M,46.0,3,Married,Springfield,Purchasing,Analytical,22.0,1,...,3,6,3,Windows,10,1,Android,10.0,1,NaN
2,EID_10020,M,41.0,3,Married,Washington,Sales,Behavioral,10.0,2,...,3,7,4,Linux,ubuntu,2,iOS,12.0,0,NaN
3,EID_10026,F,41.0,3,Married,Franklin,Quality,Analytical,18.0,1,...,4,8,3,Windows,10,1,iOS,11.0,1,NaN
4,EID_10027,F,37.0,5,Single,Lebanon,Marketing,Analytical,11.0,3,...,2,9,4,Windows,8,0,Android,7.0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,EID_9981,F,41.0,4,Married,Clinton,Purchasing,Conceptual,18.0,1,...,2,8,4,Windows,10,4,Android,9.0,0,0.1008
9996,EID_9983,F,46.0,2,Single,Franklin,IT,Analytical,8.0,3,...,3,8,4,NaN,NaN,10,Android,7.0,3,0.0700
9997,EID_9985,F,37.0,3,Married,Springfield,Operarions,Directive,12.0,2,...,2,5,5,Windows,10,1,Android,8.0,1,0.5718
9998,EID_9989,M,46.0,4,Single,Springfield,Purchasing,Directive,17.0,1,...,2,8,3,Windows,10,1,Android,8.0,0,0.0372
9999,EID_9998,F,46.0,2,Single,Lebanon,IT,Directive,14.0,4,...,4,6,3,Windows,8,8,Android,7.0,2,0.1747

In [47]:

#df_concat.info()

# Seleccionar columnas
columnas_a_mantener = ['Employee_ID','Age','Education_Level',' Computer_OS',' Computer_tickets',' Mobile_OS',' Mobile_tickets']
df_final = df_concat[columnas_a_mantener]

df_final = df_final.rename(columns={' Computer_OS': 'Computer_OS',
                                    ' Computer_tickets': 'Computer_tickets',
                                    ' Mobile_OS': 'Mobile_OS',
                                    ' Mobile_tickets' : 'Mobile_tickets'})


df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Employee_ID       10000 non-null  object
 1   Age               9427 non-null   float64
 2   Education_Level   10000 non-null  int64
 3   Computer_OS       9842 non-null   object
 4   Computer_tickets  10000 non-null  int64
 5   Mobile_OS         9713 non-null   object
 6   Mobile_tickets    10000 non-null  int64
dtypes: float64(1), int64(3), object(3)
memory usage: 547.0+ KB

## Código 2

In [ ]:


#5 Para todos los registros que no tienen un valor para un sistema operativo,
#ya sea de su computadora o de su dispositivo móvil,
#asígnales el valor “no registrado“


#6 Ejecuta la instrucción adecuada en Pandas para encontrar lo siguiente:
#6.1 El porcentaje de personas que usan Windows, Mac, Linux o "No registrado"
#    como su sistema operativo en su computadora.
#    Se esperan 4 renglones en esta respuesta.

#6.2 El porcentaje de personas que usan iOS, Android o "No registrado"
#    como su sistema operativo en su dispositivo móvil. Se esperan 3 renglones en esta respuesta.

#6.3 La edad promedio de la gente que utiliza cada sistema operativo de escritorio.

#6.4 El nivel educativo promedio de la gente que utiliza cada sistema operativo de escritorio.

#6.5 El número total de tickets generados por la gente, con cada sistema operativo de escritorio.